# Godot-specific ignores
.import/
export.cfg
build/*
!build/.gdignore

# Mono-specific ignores
.mono/
data_*/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
*.lnk

# MS Office
~$*

# Miss Peacock ignore
_document/*.gd
_art_concept/*.gd